body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
}

.container {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #eee;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin: 0 0 20px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #4cae4c;
}

.main-content {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #4cae4c;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.user-action {
    display: flex;
    gap: 5px;
}

/* Темная тема */
body.dark-theme {
    background-color: #333;
    color: #fff;
}

.sidebar.dark-theme {
    background-color: #444;
}

.main-content.dark-theme {
    background-color: #555;
    color: #fff;
}

body.dark-theme button {
    background-color: #666;
}

body.dark-theme button:hover {
    background-color: #777;
}

table th {
    background-color: #444;
    color: #fff;
}

table td {
    border-bottom: 1px solid #666;
}
